    body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #a91233;}

    p{ background-color: lightblue ; width: 100px; 
        max-width: 100px;
        min-width: 20px;
        max-height: 100px;
        min-height: 20px; overflow: visible;
        padding: 50px; 
        margin: 20px; } 